Run the following code to import library and read data.

In [1]:
library(dplyr) # import dplyr package for data wrangling 
data <- read.csv("Titanic.csv", na.strings=c("NA")) # read data

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Use function `names()` to list all the column names.

In [2]:
names(data)

[1] "Name"     "PClass"   "Age"      "Sex"      "Survived"

Exercise 2.1. Extract the passengers with Age <= 10, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [20]:
# code for Exercise 2.1:
data_filtered=filter(data, Age<=10)
summary(data_filtered, 5)

                                     Name    PClass        Age
 Aks, Master Philip                    : 1   1st: 4   Min.   : 0.170
 Allison, Master Hudson Trevor         : 1   2nd:20   1st Qu.: 2.000
 Allison, Miss Helen Loraine           : 1   3rd:31   Median : 4.000
 Andersson, Master Sigvard Harald Elias: 1            Mean   : 4.343
 (Other)                               :51            3rd Qu.: 6.500
                                                      Max.   :10.000
     Sex        Survived
 female:27   Min.   :0.0000
 male  :28   1st Qu.:0.0000
             Median :1.0000
             Mean   :0.6727
             3rd Qu.:1.0000
             Max.   :1.0000

Exercise 2.2. Extract the passengers with Sex == female, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [6]:
# code for Exercise 2.2:
data_filtered=filter(data, Sex == "female")
head(data_filtered, 5)

  Name                                          PClass Age Sex    Survived
1 Allen, Miss Elisabeth Walton                  1st    29  female 1
2 Allison, Miss Helen Loraine                   1st     2  female 0
3 Allison, Mrs Hudson JC (Bessie Waldo Daniels) 1st    25  female 0
4 Andrews, Miss Kornelia Theodosia              1st    63  female 1
5 Appleton, Mrs Edward Dale (Charlotte Lamson)  1st    58  female 1

Exercise 2.3. Extract the passengers with Age <= 10, Sex == female and PClass == 2nd, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [7]:
# code for Exercise 2.3:
data_filtered=filter(data, Age<=10 & Sex =="female")
head(data_filtered, 5)

  Name                        PClass Age Sex    Survived
1 Allison, Miss Helen Loraine 1st    2   female 0
2 Becker, Miss Marion Louise  2nd    4   female 1
3 Collyer, Miss Marjorie      2nd    8   female 1
4 Harper, Miss Nina           2nd    6   female 1
5 Hart, Miss Eva Miriam       2nd    7   female 1

Exercise 2.4. Extract the passengers with Age <= 10, Sex == female and PClass be either 1st or 2nd, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [12]:
# code for Exercise 2.4:
data_filtered=filter(data, Age<=10, Sex == "female", PClass %in% c("1st", "2nd"))
summary(data_filtered)

                          Name   PClass       Age           Sex
 Allison, Miss Helen Loraine:1   1st:1   Min.   :1.00   female:10
 Becker, Miss Marion Louise :1   2nd:9   1st Qu.:2.25   male  : 0
 Collyer, Miss Marjorie     :1   3rd:0   Median :4.00
 Harper, Miss Nina          :1           Mean   :4.50
 Hart, Miss Eva Miriam      :1           3rd Qu.:6.75
 LaRoche, Miss Louise       :1           Max.   :8.00
 (Other)                    :4
    Survived
 Min.   :0.0
 1st Qu.:1.0
 Median :1.0
 Mean   :0.9
 3rd Qu.:1.0
 Max.   :1.0

Exercise 2.5. Extract the passengers with Age <= 10 or Age >= 40, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [16]:
# code for Exercise 2.5:
data_filtered=filter(data, Age<=10 | Age>=10)
summary(data_filtered)

                           Name     PClass         Age            Sex
 Carlsson, Mr Frans Olof     :  2   1st:226   Min.   : 0.17   female:288
 Connolly, Miss Kate         :  2   2nd:212   1st Qu.:21.00   male  :468
 Kelly, Mr James             :  2   3rd:318   Median :28.00
 Abbing, Mr Anthony          :  1             Mean   :30.40
 Abbott, Master Eugene Joseph:  1             3rd Qu.:39.00
 Abbott, Mr Rossmore Edward  :  1             Max.   :71.00
 (Other)                     :747
    Survived
 Min.   :0.000
 1st Qu.:0.000
 Median :0.000
 Mean   :0.414
 3rd Qu.:1.000
 Max.   :1.000

Exercise 2.6. Extract the passengers with `PClass` not equals to 1st, and assign the extracted rows to a variable named `data_filtered`. Then show the first 5 rows of `data_filtered`.

In [19]:
# code for Exercise 2.6:
data_filtered=filter(data,PClass != "1st")
head(data_filtered)

  Name                            PClass Age Sex    Survived
1 Abelson, Mr Samuel              2nd    30  male   0
2 Abelson, Mrs Samuel (Anna)      2nd    28  female 1
3 Andrew, Mr Edgar Samuel         2nd    18  male   0
4 Andrew, Mr Frank                2nd    NA  male   0
5 Angle, Mr William A             2nd    34  male   0
6 Angle, Mrs William A (Florence) 2nd    32  female 1