In [3]:
data(read.csv)

Warning message in data(read.csv):
"data set 'read.csv' not found"

In [2]:
data(titanic)

Warning message in data(titanic):
"data set 'titanic' not found"

In [4]:
help(read.csv)

In [6]:
read.csv("titanic.csv")

     Name                                             PClass Age   Sex
1    Allen, Miss Elisabeth Walton                     1st    29.00 female
2    Allison, Miss Helen Loraine                      1st     2.00 female
3    Allison, Mr Hudson Joshua Creighton              1st    30.00 male
4    Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st    25.00 female
5    Allison, Master Hudson Trevor                    1st     0.92 male
6    Anderson, Mr Harry                               1st    47.00 male
7    Andrews, Miss Kornelia Theodosia                 1st    63.00 female
8    Andrews, Mr Thomas, jr                           1st    39.00 male
9    Appleton, Mrs Edward Dale (Charlotte Lamson)     1st    58.00 female
10   Artagaveytia, Mr Ramon                           1st    71.00 male
11   Astor, Colonel John Jacob                        1st    47.00 male
12   Astor, Mrs John Jacob (Madeleine Talmadge Force) 1st    19.00 female
13   Aubert, Mrs Leontine Pauline                     1st       NA female
14   Barkworth, Mr Algernon H                         1st       NA male
15   Baumann, Mr John D                               1st       NA male
16   Baxter, Mrs James (Helene DeLaudeniere Chaput)   1st    50.00 female
17   Baxter, Mr Quigg Edmond                          1st    24.00 male
18   Beattie, Mr Thomson                              1st    36.00 male
19   Beckwith, Mr Richard Leonard                     1st    37.00 male
20   Beckwith, Mrs Richard Leonard (Sallie Monypeny)  1st    47.00 female
21   Behr, Mr Karl Howell                             1st    26.00 male
22   Birnbaum, Mr Jakob                               1st    25.00 male
23   Bishop, Mr Dickinson H                           1st    25.00 male
24   Bishop, Mrs Dickinson H (Helen Walton)           1st    19.00 female
25   Bjornstrm-Steffansson, Mr Mauritz Hakan          1st    28.00 male
26   Blackwell, Mr Stephen Weart                      1st    45.00 male
27   Blank, Mr Henry                                  1st    39.00 male
28   Bonnell, Miss Caroline                           1st    30.00 female
29   Bonnell, Miss Elizabeth                          1st    58.00 female
30   Borebank, Mr John James                          1st       NA male
...  ...                                              ...    ...   ...
1283 Vestrom, Miss Hulda Amanda Adolfina              3rd    14    female
1284 Vonk, Mr Jenko                                   3rd    22    male
1285 Ware, Mr Frederick                               3rd    NA    male
1286 Warren, Mr Charles William                       3rd    NA    male
1287 Wazli, Mr Yousif                                 3rd    NA    male
1288 Webber, Mr James                                 3rd    NA    male
1289 Wennerstrom, Mr August Edvard                    3rd    NA    male
1290 Wenzel, Mr Linhart                               3rd    NA    male
1291 Widegren, Mr Charles Peter                       3rd    51    male
1292 Wiklund, Mr Jacob Alfred                         3rd    18    male
1293 Wilkes, Mrs Ellen                                3rd    45    female
1294 Willer, Mr Aaron                                 3rd    NA    male
1295 Willey, Mr Edward                                3rd    NA    male
1296 Williams, Mr Howard Hugh                         3rd    NA    male
1297 Williams, Mr Leslie                              3rd    28    male
1298 Windelov, Mr Einar                               3rd    21    male
1299 Wirz, Mr Albert                                  3rd    27    male
1300 Wiseman, Mr Phillippe                            3rd    NA    male
1301 Wittevrongel, Mr Camiel                          3rd    36    male
1302 Yalsevac, Mr Ivan                                3rd    NA    male
1303 Yasbeck, Mr Antoni                               3rd    27    male
1304 Yasbeck, Mrs Antoni                              3rd    15    female
1305 Youssef, Mr Gerios                               3rd    NA    male
1306 Zabour, Miss Hileni                              3rd    NA    female
1307 Zabour, Miss Tamini                              3rd    NA    female
1308 Zakarian, Mr Artun                               3rd    27    male
1309 Zakarian, Mr Maprieder                           3rd    26    male
1310 Zenni, Mr Philip                                 3rd    22    male
1311 Lievens, Mr Rene                                 3rd    24    male
1312 Zimmerman, Leo                                   3rd    29    male
     Survived
1    1
2    0
3    0
4    0
5    1
6    1
7    1
8    0
9    1
10   0
11   0
12   1
13   1
14   1
15   0
16   1
17   0
18   0
19   1
20   1
21   1
22   0
23   1
24   1
25   1
26   0
27   1
28   1
29   1
30   0
...  ...
1283 0
1284 0
1285 0
1286 0
1287 0
1288 0
1289 1
1290 0
1291 0
1292 0
1293 1
1294 0
1295 0
1296 0
1297 0
1298 0
1299 0
1300 0
1301 0
1302 1
1303 0
1304 1
1305 0
1306 0
1307 0
1308 0
1309 0
1310 0
1311 0
1312 0

In [7]:
read.csv(file.choose())

     Name                                             PClass Age   Sex
1    Allen, Miss Elisabeth Walton                     1st    29.00 female
2    Allison, Miss Helen Loraine                      1st     2.00 female
3    Allison, Mr Hudson Joshua Creighton              1st    30.00 male
4    Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st    25.00 female
5    Allison, Master Hudson Trevor                    1st     0.92 male
6    Anderson, Mr Harry                               1st    47.00 male
7    Andrews, Miss Kornelia Theodosia                 1st    63.00 female
8    Andrews, Mr Thomas, jr                           1st    39.00 male
9    Appleton, Mrs Edward Dale (Charlotte Lamson)     1st    58.00 female
10   Artagaveytia, Mr Ramon                           1st    71.00 male
11   Astor, Colonel John Jacob                        1st    47.00 male
12   Astor, Mrs John Jacob (Madeleine Talmadge Force) 1st    19.00 female
13   Aubert, Mrs Leontine Pauline                     1st       NA female
14   Barkworth, Mr Algernon H                         1st       NA male
15   Baumann, Mr John D                               1st       NA male
16   Baxter, Mrs James (Helene DeLaudeniere Chaput)   1st    50.00 female
17   Baxter, Mr Quigg Edmond                          1st    24.00 male
18   Beattie, Mr Thomson                              1st    36.00 male
19   Beckwith, Mr Richard Leonard                     1st    37.00 male
20   Beckwith, Mrs Richard Leonard (Sallie Monypeny)  1st    47.00 female
21   Behr, Mr Karl Howell                             1st    26.00 male
22   Birnbaum, Mr Jakob                               1st    25.00 male
23   Bishop, Mr Dickinson H                           1st    25.00 male
24   Bishop, Mrs Dickinson H (Helen Walton)           1st    19.00 female
25   Bjornstrm-Steffansson, Mr Mauritz Hakan          1st    28.00 male
26   Blackwell, Mr Stephen Weart                      1st    45.00 male
27   Blank, Mr Henry                                  1st    39.00 male
28   Bonnell, Miss Caroline                           1st    30.00 female
29   Bonnell, Miss Elizabeth                          1st    58.00 female
30   Borebank, Mr John James                          1st       NA male
...  ...                                              ...    ...   ...
1283 Vestrom, Miss Hulda Amanda Adolfina              3rd    14    female
1284 Vonk, Mr Jenko                                   3rd    22    male
1285 Ware, Mr Frederick                               3rd    NA    male
1286 Warren, Mr Charles William                       3rd    NA    male
1287 Wazli, Mr Yousif                                 3rd    NA    male
1288 Webber, Mr James                                 3rd    NA    male
1289 Wennerstrom, Mr August Edvard                    3rd    NA    male
1290 Wenzel, Mr Linhart                               3rd    NA    male
1291 Widegren, Mr Charles Peter                       3rd    51    male
1292 Wiklund, Mr Jacob Alfred                         3rd    18    male
1293 Wilkes, Mrs Ellen                                3rd    45    female
1294 Willer, Mr Aaron                                 3rd    NA    male
1295 Willey, Mr Edward                                3rd    NA    male
1296 Williams, Mr Howard Hugh                         3rd    NA    male
1297 Williams, Mr Leslie                              3rd    28    male
1298 Windelov, Mr Einar                               3rd    21    male
1299 Wirz, Mr Albert                                  3rd    27    male
1300 Wiseman, Mr Phillippe                            3rd    NA    male
1301 Wittevrongel, Mr Camiel                          3rd    36    male
1302 Yalsevac, Mr Ivan                                3rd    NA    male
1303 Yasbeck, Mr Antoni                               3rd    27    male
1304 Yasbeck, Mrs Antoni                              3rd    15    female
1305 Youssef, Mr Gerios                               3rd    NA    male
1306 Zabour, Miss Hileni                              3rd    NA    female
1307 Zabour, Miss Tamini                              3rd    NA    female
1308 Zakarian, Mr Artun                               3rd    27    male
1309 Zakarian, Mr Maprieder                           3rd    26    male
1310 Zenni, Mr Philip                                 3rd    22    male
1311 Lievens, Mr Rene                                 3rd    24    male
1312 Zimmerman, Leo                                   3rd    29    male
     Survived
1    1
2    0
3    0
4    0
5    1
6    1
7    1
8    0
9    1
10   0
11   0
12   1
13   1
14   1
15   0
16   1
17   0
18   0
19   1
20   1
21   1
22   0
23   1
24   1
25   1
26   0
27   1
28   1
29   1
30   0
...  ...
1283 0
1284 0
1285 0
1286 0
1287 0
1288 0
1289 1
1290 0
1291 0
1292 0
1293 1
1294 0
1295 0
1296 0
1297 0
1298 0
1299 0
1300 0
1301 0
1302 1
1303 0
1304 1
1305 0
1306 0
1307 0
1308 0
1309 0
1310 0
1311 0
1312 0

In [11]:
library(dplyr)

ERROR: Error in library(dplyr): there is no package called 'dplyr'

In [10]:
data = read.csv("Titanic.csv", na.strings =c("NA") )

In [13]:
install.packages("dplyr",repos = "http://cran.us.r-project.org")
library(dplyr)

Installing package into 'C:/Users/theo0007/Documents/R/win-library/3.4'
(as 'lib' is unspecified)
also installing the dependencies 'BH', 'plogr'

package 'BH' successfully unpacked and MD5 sums checked
package 'plogr' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\theo0007\AppData\Local\Temp\RtmpOYybxg\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [15]:
library(dplyr)

In [ ]:
data = read.csv("Titanic.csv", na.strings =c("NA") )

In [16]:
str(data)

'data.frame':	1312 obs. of  5 variables:
 $ Name    : Factor w/ 1309 levels "Abbing, Mr Anthony",..: 22 25 26 27 24 31 45 46 50 54 ...
 $ PClass  : Factor w/ 3 levels "1st","2nd","3rd": 1 1 1 1 1 1 1 1 1 1 ...
 $ Age     : num  29 2 30 25 0.92 47 63 39 58 71 ...
 $ Sex     : Factor w/ 2 levels "female","male": 1 1 2 1 2 2 1 2 1 2 ...
 $ Survived: int  1 0 0 0 1 1 1 0 1 0 ...

In [19]:
data$Survived = as.factor(data$Survived)

In [20]:
str(data)

'data.frame':	1312 obs. of  5 variables:
 $ Name    : Factor w/ 1309 levels "Abbing, Mr Anthony",..: 22 25 26 27 24 31 45 46 50 54 ...
 $ PClass  : Factor w/ 3 levels "1st","2nd","3rd": 1 1 1 1 1 1 1 1 1 1 ...
 $ Age     : num  29 2 30 25 0.92 47 63 39 58 71 ...
 $ Sex     : Factor w/ 2 levels "female","male": 1 1 2 1 2 2 1 2 1 2 ...
 $ Survived: Factor w/ 2 levels "0","1": 2 1 1 1 2 2 2 1 2 1 ...

In [21]:
summary(data)

                           Name      PClass         Age            Sex
 Carlsson, Mr Frans Olof     :   2   1st:322   Min.   : 0.17   female:462
 Connolly, Miss Kate         :   2   2nd:279   1st Qu.:21.00   male  :850
 Kelly, Mr James             :   2   3rd:711   Median :28.00
 Abbing, Mr Anthony          :   1             Mean   :30.40
 Abbott, Master Eugene Joseph:   1             3rd Qu.:39.00
 Abbott, Mr Rossmore Edward  :   1             Max.   :71.00
 (Other)                     :1303             NA's   :556
 Survived
 0:862
 1:450

In [22]:
head(subset)

1 function (x, ...)
2 UseMethod("subset")

In [25]:
subset = select(data, ends_with("e"))

In [26]:
head(subset)

  Name                                          Age
1 Allen, Miss Elisabeth Walton                  29.00
2 Allison, Miss Helen Loraine                    2.00
3 Allison, Mr Hudson Joshua Creighton           30.00
4 Allison, Mrs Hudson JC (Bessie Waldo Daniels) 25.00
5 Allison, Master Hudson Trevor                  0.92
6 Anderson, Mr Harry                            47.00

In [27]:
subset = select(data, starts_with("S"))

In [28]:
head(subset)

  Sex    Survived
1 female 1
2 female 0
3 male   0
4 female 0
5 male   1
6 male   1

In [29]:
subset=select(data,Name,Age)

In [30]:
head(subset)

  Name                                          Age
1 Allen, Miss Elisabeth Walton                  29.00
2 Allison, Miss Helen Loraine                    2.00
3 Allison, Mr Hudson Joshua Creighton           30.00
4 Allison, Mrs Hudson JC (Bessie Waldo Daniels) 25.00
5 Allison, Master Hudson Trevor                  0.92
6 Anderson, Mr Harry                            47.00

In [32]:
data_filtered = filter(data, Age > 30)
head(data_filtered)

  Name                                         PClass Age Sex    Survived
1 Anderson, Mr Harry                           1st    47  male   1
2 Andrews, Miss Kornelia Theodosia             1st    63  female 1
3 Andrews, Mr Thomas, jr                       1st    39  male   0
4 Appleton, Mrs Edward Dale (Charlotte Lamson) 1st    58  female 1
5 Artagaveytia, Mr Ramon                       1st    71  male   0
6 Astor, Colonel John Jacob                    1st    47  male   0

select is by columns
filter is by rows

In [34]:
data_filtered = filter(data,PClass=="3rd")
head(data_filtered)

  Name                         PClass Age Sex    Survived
1 Abbing, Mr Anthony           3rd    42  male   0
2 Abbott, Master Eugene Joseph 3rd    13  male   0
3 Abbott, Mr Rossmore Edward   3rd    16  male   0
4 Abbott, Mrs Stanton (Rosa)   3rd    35  female 1
5 Abelseth, Miss Anna Karen    3rd    16  female 1
6 Abelseth, Mr Olaus           3rd    25  male   1

In [39]:
data_filtered=filter(data,Age>30 | PClass =="3rd")
head(data_filtered)

  Name                                         PClass Age Sex    Survived
1 Anderson, Mr Harry                           1st    47  male   1
2 Andrews, Miss Kornelia Theodosia             1st    63  female 1
3 Andrews, Mr Thomas, jr                       1st    39  male   0
4 Appleton, Mrs Edward Dale (Charlotte Lamson) 1st    58  female 1
5 Artagaveytia, Mr Ramon                       1st    71  male   0
6 Astor, Colonel John Jacob                    1st    47  male   0

In [41]:
data_filtered=filter(data,Age>30 & PClass =="3rd")
head(data_filtered)

  Name                          PClass Age Sex    Survived
1 Abbing, Mr Anthony            3rd    42  male   0
2 Abbott, Mrs Stanton (Rosa)    3rd    35  female 1
3 Ahlin, Mrs Johanna Persdotter 3rd    40  female 0
4 Aijo-Nirva, Mr Isak           3rd    41  male   0
5 Allen, Mr William Henry       3rd    35  male   0
6 Andersen, Mr Albert Karvin    3rd    32  male   0

or and

In [44]:
data_filtered= filter(data,PClass %in% c("2nd","3rd"))
head(data_filtered)
tail(data_filtered)

  Name                            PClass Age Sex    Survived
1 Abelson, Mr Samuel              2nd    30  male   0
2 Abelson, Mrs Samuel (Anna)      2nd    28  female 1
3 Andrew, Mr Edgar Samuel         2nd    18  male   0
4 Andrew, Mr Frank                2nd    NA  male   0
5 Angle, Mr William A             2nd    34  male   0
6 Angle, Mrs William A (Florence) 2nd    32  female 1

    Name                   PClass Age Sex    Survived
985 Zabour, Miss Tamini    3rd    NA  female 0
986 Zakarian, Mr Artun     3rd    27  male   0
987 Zakarian, Mr Maprieder 3rd    26  male   0
988 Zenni, Mr Philip       3rd    22  male   0
989 Lievens, Mr Rene       3rd    24  male   0
990 Zimmerman, Leo         3rd    29  male   0

In [48]:
sorted = arrange(data, Age)
head(sorted)
tail(sorted)

  Name                                   PClass Age  Sex    Survived
1 Dean, Miss Elizabeth Gladys (Millvena) 3rd    0.17 female 1
2 Danbom, Master Gilbert Sigvard Emanuel 3rd    0.33 male   0
3 Richards, Master George Sidney         2nd    0.80 male   1
4 Caldwell, Master Alden Gates           2nd    0.83 male   1
5 Aks, Master Philip                     3rd    0.83 male   1
6 Allison, Master Hudson Trevor          1st    0.92 male   1

     Name                     PClass Age Sex    Survived
1307 Williams, Mr Howard Hugh 3rd    NA  male   0
1308 Wiseman, Mr Phillippe    3rd    NA  male   0
1309 Yalsevac, Mr Ivan        3rd    NA  male   1
1310 Youssef, Mr Gerios       3rd    NA  male   0
1311 Zabour, Miss Hileni      3rd    NA  female 0
1312 Zabour, Miss Tamini      3rd    NA  female 0

In [51]:
data_with_age

ERROR: Error in eval(expr, envir, enclos): object 'data_with_age' not found

In [53]:
sorted=arrange(data, desc(Age))
head(sorted)

  Name                                                      PClass Age Sex
1 Artagaveytia, Mr Ramon                                    1st    71  male
2 Goldschmidt, Mr George B                                  1st    71  male
3 Mitchell, Mr Henry Michael                                2nd    71  male
4 Crosby, Captain Edward Gifford                            1st    70  male
5 Crosby, Mrs Edward Gifford (Catherine Elizabeth Halstead) 1st    69  female
6 Straus, Mr Isidor                                         1st    67  male
  Survived
1 0
2 0
3 0
4 0
5 1
6 0

In [56]:
mutated=mutate(data,Age_Plus_1= Age+1)
head(mutated)

  Name                                          PClass Age   Sex    Survived
1 Allen, Miss Elisabeth Walton                  1st    29.00 female 1
2 Allison, Miss Helen Loraine                   1st     2.00 female 0
3 Allison, Mr Hudson Joshua Creighton           1st    30.00 male   0
4 Allison, Mrs Hudson JC (Bessie Waldo Daniels) 1st    25.00 female 0
5 Allison, Master Hudson Trevor                 1st     0.92 male   1
6 Anderson, Mr Harry                            1st    47.00 male   1
  Age_Plus_1
1 30.00
2  3.00
3 31.00
4 26.00
5  1.92
6 48.00

In [60]:
mutated = mutated(data, Sex_Code = ifelse(Sex=="female", 0,1))
head(mutated)

ERROR: Error in mutated(data, Sex_Code = ifelse(Sex == "female", 0, 1)): could not find function "mutated"

In [62]:
summarise(data,Num_Passengers =n())

  Num_Passengers
1 1312

In [65]:
summarise(data,Min_Age=min(Age,na.rm =TRUE))

  Min_Age
1 0.17

In [72]:
result = data%>%
filter(Age>30) %>%
select (Name,Age) %>%
arrange(desc(Age))
result %>% head()

                            Name          Age
 Carlsson, Mr Frans Olof      :  2   Min.   :31.00
 Kelly, Mr James              :  2   1st Qu.:36.00
 Abbing, Mr Anthony           :  1   Median :42.00
 Abbott, Mrs Stanton (Rosa)   :  1   Mean   :43.59
 Ahlin, Mrs Johanna Persdotter:  1   3rd Qu.:49.25
 Aijo-Nirva, Mr Isak          :  1   Max.   :71.00
 (Other)                      :316

In [73]:
data %>% 
group_by(Sex) %>%
summarise(Passengers =n())

  Sex    Passengers
1 female 462
2 male   850